<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png); height: 470px;">
    <div class="container">
      <h1>Hello. My name is <strong>Annie Puygrenier</strong> and I have creative  ideas and build websites!</h1>
      <p>I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
      <a  class="btn btn-danger" style="float: right;" href="#">View my Work</a>
    </div>
  </div>
  