
<div class="container banner">

  <div class="row"></div>
    <!-- Hero Unit -->
    <section class="hero-unit">
        <h1>Hello, my name is Annie Puygrenier and I have creative ideas.</h1>
        <p>I design and code beautifully simple things, and I love what I do.</p>
        <div class="col-md-4 col-12 avatar">
          <img src="/assets/face_co.svg" class="img-fluid"/>
        </div>
    </section>
      <ul class="small-block-grid-2 medium-block-grid-3 flip-cards">

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="#">About</a>
          </div>
          <div class="panel card-back">
            <i class="fa fa-user card-icon"></i>
            <div class="hub-info">
              <a href="./about">Curios</a>
              <p></p>
            </div>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="#">Portfolio</a>
          </div>

          <div class="panel card-back">
            <i class="fa fa-briefcase card-icon"></i>
            <div class="hub-info">
              <a href="./portfolio">Portfolio</a>
              <p></p>
            </div>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="#">Contact</a>
          </div>

          <div class="panel card-back">
            <i class="fa fa-address-card card-icon"></i>
            <div class="hub-info">
              <a href="./contact">Contact</a>
              <p></p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="large-12 columns">
        <div class="small-12 small-centered medium-6 medium-centered large-3 large-centered columns clients">
        </div>
        <!-- end .clients -->
    </div>
  
</div>


  