<div class="footer">
    <div class="footer-copyright"> © 2020 Annie Puygrenier</div>
    <div class="footer-links">
        <a href="https://github.com/ampgn" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/annie_puy/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/anniedilma" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/anne-lucie-boucal/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/annepuygrenier" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
  </div>