<div class="footer">

    <div class="footer-links">
        <% link_to '<i class="fab fa-github"></i>' %>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <br>
    <div class="footer-copyright">
      2020<i class="fas fa-heart"></i> Anne Lucie Puygrenier
    </div>
  </div>