<%= render 'shared/navbar' %>

<div class="container"
    <div class="row">
        <div class="col-6 image1">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
            <div class="col-6" style="margin-left: 30px; margin-top: 110px">
                <h1>About me</h1>
                <p class="intro">I'm a full-stack web / mobile junior developer based in Aix-en-Provence, France. </p>
                <p class="dev">I enjoy turning complex problems into simple, beautiful and intuitive designs. When I'm not coding, lisning music or looking series, you'll find me writing, designing or going shopping.</p>
            </div>
        </div>
    </div>
</div>





<%= render 'shared/footer' %>