<%= render 'shared/navbar' %>

<div class="container">
    <div class="row">
        <div class="col-6 image1">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
        </div>
        <div class="col-6 about">
            <h1>About me</h1>
            <p class="intro">I'm a full-stack web / mobile junior developer
            <br>
            based in Aix-en-Provence, France. </p>
            <p class="dev">I enjoy turning complex problems into simple, beautiful  <br> and intuitive designs. 
            When, I'm not coding, lisning music <br> or looking series, you'll find me writing, designing or going <br> shopping. 
            If you are looking for a designer & user interface <br> developer for contract, feel free to reach out.
            </p>
        </div>
    </div>
</div>





<%= render 'shared/footer' %>