<%= render 'shared/navbar' %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-12 about">
            <img src="/assets/0.jpeg" class="img-fluid"/>
        </div>
        <div class="col-md-5 col-12 about">
            <h1>About me</h1>
            <p class="intro">I'm a full-stack web / mobile junior developer
            <br>
            based in Aix-en-Provence, France. </p>
            <p class="dev">I enjoy turning complex problems into simple, beautiful  <br> and intuitive designs. 
            When, I'm not coding, lisning music <br> or looking series, you'll find me writing, designing or going <br> shopping. 
            If you are looking for a designer & user interface <br> developer for contract, feel free to reach out.
            </p>
        </div>
    </div>
</div>

<div class="container skills">
    <div class="row skills2">
        <div class="col-sm">
            <figure class="image-skill">
                <img class="icon-skill" src="/assets/backend.svg"/>
                <h1 class="h1skill">Back-end<h1>
                <p class="p-skill">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>   
                <p class="p1-skill">Dev Tools Back:</p>  
                <li class="li-skill">Ruby</li>
                <li class="li-skill">Ruby on rails</li>
                <li class="li-skill">Github</li>
                <li class="li-skill">Gitlab</li>
                <li class="li-skill">Terminal</li>
            </figure>
        </div>

        <div class="col-sm">
            <figure class="image-skill">
                <img class="icon-skill" src="/assets/front-end.svg"/>
                <h1 class="h1skill">Front-end<h1>
                <p class="p-skill">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p class="p1-skill">Dev Tools Front:</p>
                <li class="li-skill">HTML</li>
                <li class="li-skill">CSS</li>
                <li class="li-skill">Sass</li>
                <li class="li-skill">Bootstrap</li>
                <li class="li-skill">Spectre.CSS</li>
            </figure>
        </div>

        <div class="col-sm">
            <figure class="image-skill">
                <img class="icon-skill" src="/assets/swift.svg"/>
                <h1 class="h1skill">Swift iOS <h1>
                <p class="p-skill">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p class="p1-skill">Design Tools:</p>
                <li class="li-skill">Apps ios</li>
                <li class="li-skill">UX</li>
                <li class="li-skill">UI</li>
                <li class="li-skill">Figma</li>
                <li class="li-skill">Marvel</li>
            </figure>
        </div>
    </div>
</div>





<%= render 'shared/footer' %>