<%= render 'shared/navbar' %>


<div class="container">
    <div class="h2contact">
        <h1>Let's make something <br> great and beautiful!</h1>
    </div>

    <div class="footer-links2">
        <a href="mailto:aboucal9@gmail.com" target="_blank"><i class="fa fa-envelope a-mail"></i></a>
        <a href="https://github.com/ampgn" target="_blank"><i class="fa fa-github a-github"></i></a>
        <a href="https://www.instagram.com/annie_puy/?hl=fr" target="_blank"><i class="fa fa-instagram a-instagram"></i></a>
        <a href="https://twitter.com/anniedilma" target="_blank"><i class="fa fa-twitter a-twitter"></i></a>
        <a href="https://www.linkedin.com/in/anne-lucie-boucal/" target="_blank"><i class="fa fa-linkedin a-linkedin"></i></a>
        <a href="https://www.facebook.com/annepuygrenier" target="_blank"><i class="fa fa-facebook a-facebook"></i></a>
    </div>

</div>


<%= render 'shared/footer' %>