


<div class="logo" style="text-align: center;">
    <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "/assets/logo.png" %>
    <% end %>
    
    <h1 class="h1home">Hi, i'm Annie Puygrenier</h1>
    <a class="btn btn-outline-light" id="buttonhome" href="./welcome">Discover your servitor</a>
</div>




