<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>


<div class="home">
    <div class="logobis" style="text-align: center;">
        <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "/assets/logo.png" %>
        <% end %>
        <div class="animationhome" href="./portfolio"></div>

        <span id="typed"></span>
        <script>
            var options = {
                strings: ["Hi, i'm Annie Puygrenier", "I'm a full-stack web developer"],
                typeSpeed: 50,
                loop: true
            }
            var typed = new Typed("#typed", options);
        </script>
    </div>
    <div class="col text-center">
        <a class="btn btn-outline-light" id="buttonhome" href="./portfolio" style="text-align: center;">View my work</a>
    </div>
</div>












