<%= render 'shared/navbar' %>

<div class="container show">
    <div class="col-sm-4">
        <div class="cards1">
            <a class="cards1"><% @page %></a>                 
            <div class="card-category1" style="background-image: url(/assets/bassmusic.png)"></div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="title1"><%= @page.title %></div>
        <div class="description1"><p><%= @page.description %></p></div>
    </div>
</div>

<%= render 'shared/footer' %>