.about img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
}

.image1 {
    display: flex;
    align-items: center;
}

.about {
    margin-top: 10px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

.intro {
    text-align: justify;
    margin-top: -1.5px !important;
    --t: calc(var(--td) + var(--d));
    color: transparent;
    position: relative;
    overflow: hidden;
    animation: revealBlock 0s var(--t) forwards;
}
.intro::after {
    content: '';
    color: #d0826f;
    width: 0%;
    height: 100%;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

.dev {
    opacity: 0.80;
    text-align: justify;
    font-family: 'serif';
    font-weight: lighter;
    font-size: 18px;
    --t: calc(var(--td) + var(--d));
    color: transparent;
    position: relative;
    overflow: hidden;
    animation: devBis 0s var(--t) forwards;
}
.dev::after {
    content: '';
    width: 0%;
    height: 100%;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

.content figure img {
    display: inline-block;
}
.content figure {
    text-align: center;
    justify-content: center;
}

.icon-skill {
    height: 48px;
    width: auto;
    max-width: 100%;
    margin-bottom: 45px;
    margin-top: 150px;
    fill: #d0826f;
}

.h1skill {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.125;
}
.p-skill {
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 40px;
}

.p1-skill {
    text-align: center;
    font-size: 20px;
    color: #d0826f;
}

.li-skill {
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
    list-style: none;
    margin: 10px; 
}

.skills2 {
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #d0826f;
    margin-bottom: 140px;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* animations */
@keyframes revealBlock {
  100% {
    color: #d28470;
  }
}

@keyframes devBis {
    100% {
      color: black;
    }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.reveal-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    animation: reveal-doggo 1000ms cubic-bezier(0.5, 1, 0.2, 1) forwards;
}

.reveal-box {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
}

.reveal-box::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #cca995;
    animation: reveal-block 5000ms cubic-bezier(0.5, 1, 0.2, 1) forwards;
    z-index: 4;
}

@keyframes reveal-block {
    0% {
        left: 0%;
        width: 0%;
    }

    50% {
        left: 0%;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes reveal-doggo {

    0% {
        left: 0%;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}