.h2contact {
  display: block;
  font-size: 2.222em;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  opacity: 0.90;
  line-height: 140%;
  margin-block-start: 3em;
  margin-block-end: 0.83em;
  margin-inline-end: 0px;
  text-align: center;  
}

.footer-links2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 140px;
  margin-block-start: 60px;
}

.a-mail {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-mail:hover {
  opacity: 1;
  color: #db4439;
}

.a-github {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-github:hover {
  opacity: 1;
  color: #24292e;
}

.a-instagram {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-instagram:hover {
  opacity: 1;
  color: #dc3e59;
}

.a-instagram {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-instagram:hover {
  opacity: 1;
  color: #dc3e59;
}

.a-instagram {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-instagram:hover {
  opacity: 1;
  color: #dc3e59;
}

.a-instagram {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-instagram:hover {
  opacity: 1;
  color: #dc3e59;
}

.a-twitter {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-twitter:hover {
  opacity: 1;
  color: #3aa1f2;
}

.a-linkedin {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-linkedin:hover {
  opacity: 1;
  color: #2977b5;
}

.a-facebook {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 10px;
}
.a-facebook:hover {
  opacity: 1;
  color: #4867aa;
}

.footer-links2 a {
  color: black;
  opacity: 0.50;
  text-decoration: none;
  font-size: 38px;
  padding: 0px 10px;
  margin-top: 20px;
}
.footer-links2 a:hover {
  opacity: 1;
}