.logo img {
  height: 68px;
  width: 68px;
  border-radius: 50%;
}

.logobis img{
  height: 72px;
  width: 72px;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-top: 35vh;
  transform: translateY(-35%);
}

/*<h1 class="h1home">Hi, i'm Annie Puygrenier</h1>
<h2 class="h2home">I'm a full-stack web developer</h2>*/
.h1home {
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
  color: #e96e58;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 5px;
}

/*.h2home {
  font-family: 'Cormorant Garamond', serif;
  font-size: small;
}*/

#buttonhome {
  color: #d9492f;
  opacity: 0.70;
  border-color: #d09263;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: small;
  margin-top: 30px;
}
#buttonhome:hover {
  background-color: #fefcf7;
}

#typed {
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
  padding-bottom: 30px;
  color: #d09263;
  font-weight: 600;
  font-size: 30px;
}

.home {
  text-align: center;
  justify-content: center;
  vertical-align: middle !important;
}










