

.logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    justify-content: center;
    display: block;
    margin: 0 auto;
    margin-top: 230px;
}

.h1home {
    font-family: 'Cormorant Garamond', serif;
    font-size: medium;
}

#buttonhome {
    color: black;
    opacity: 0.70;
    border-color: #d2836f;
    font-family: 'Cormorant Garamond', serif;
    font-size: small;
}


