
.banner2 { position: relative; overflow: auto; }
  .banner2 li { list-style: none; }
      .banner2 ul li { float: left; }

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  clear: both;
  max-width: 1050px;
  margin: 0 auto;
}

.cards{
  text-decoration: none;
}

.title {
  clear: both;
  max-width: 1040px;
  font-size: 24px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  line-height: 1.125;
  text-decoration: none !important;
}

.description {
  clear: both;
  max-width: 1040px;
  margin: 0 0 50px;
}
.description p {
  font-family: 'serif';
  font-weight: lighter;
  opacity: 0.70;
  line-height: normal;
  font-size: 17px;
}

.p2-skill {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 60px;
}

.h1portfolio {
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 5px;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
  color: #d28470;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #d28470 !important;
}

.email {
  color: #d28470;
}
.email:hover {
  color:#c4c4c4;
}

figure {
  display: flex;
  flex-flow: column;
  margin: auto;
}


.hover-img {
  color: #fff;
  display: inline-block;
  margin: 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.hover-img .card-category {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  background: rgba(0,0,0,.7);
  max-height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  line-height: 2.2em;
  border-radius: 1px;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  overflow-y: auto;
  transition: margin-bottom .1s ease-out;
  margin: -10px;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > .card-category {
  opacity: 0.9;
}

.hover-img:hover figcaption {
  opacity: 0.8;
}

.h1contact {
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 20vh;
  transform: translateY(-20%);
}

.hrbis {
  margin: 0 !important;
  max-width: 7% !important;
  height: 2px;
  border-color: #d28470;
  background-color: #d28470;
}

.showpresentationter {
  font-family: 'Cormorant Garamond', serif;
  font-size: small;
  text-align: left;
  margin-top: 15px;
  letter-spacing: 1px;
}

@media screen  
  and (min-device-width: 280px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .logo img {
      height: 53px;
      width: 53px;
      border-radius: 50%;
      display: block;
      float: left !important;
      text-indent: -9999px;
      margin-top: 2px;
    }
    .navbar-light .navbar-toggler {
      border: none;
      padding: 0;
    }
    .nav {
      flex-direction: column;
      margin-top: 50px;
      text-align: center;
      height: 50vh;
      font-size: 24px;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      line-height: 1.5em;
    }
    .intro {
      font-size: 18px;
      text-align: center;
      margin-top: 35px;
    }
    .dev {
      margin-top: 30px;
    }
    .icon-skill {
      margin-top: 80px;
    }
    .project {
      transform: translateX(-2.4%);
    }
    .footer {
      padding: 0 !important;
      height: 110px !important;
      justify-content: center !important;
      margin-bottom: 0 !important;
    }
    .footer-copyright {
      transform: translateY(-60%);
      float: left !important;
      position: absolute;
    }
    .footer-links {
      position: relative;
      top: 20px;
    }
    .footer-links a {
      font-size: 18px !important;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .showpresentationter {
      text-align: center;
    }
}

@media only screen  
  and (min-device-width: 540px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .navbar-light .navbar-toggler {
      border: none;
      padding: 0;
    }
    .project {
      transform: translateX(-1.1%);
    }
    .intro {
      font-size: 18px;
      text-align: center;
      margin-top: 35px;
    }
    .dev {
      margin-top: 30px;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .logo img {
      height: 53px;
      width: 53px;
      border-radius: 50%;
      display: block;
      float: left !important;
      text-indent: -9999px;
      margin-top: 2px;
    }
    .navbar-light .navbar-toggler {
      border: none;
      padding: 0;
    }
    .nav {
      flex-direction: column;
      margin-top: 50px;
      text-align: center;
      height: 50vh;
      font-size: 24px;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      line-height: 1.5em;
    }
    .content--full {
      min-height: 0 !important;
      font-size: 2.8vw;
    }
    .about img {
      height: auto;
    }
   .card-category {
    height: 140px;
   }
   .p2-skill {
      margin-bottom: 80px;
   }
}
